---
BasedOnStyle: Microsoft
Language: Cpp

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
IndentCaseLabels: true

# Column limit
ColumnLimit: 0

# Braces - Visual Studio Allman style
BreakBeforeBraces: Allman

# Namespaces
NamespaceIndentation: All
CompactNamespaces: false

# Classes and structs
BreakInheritanceList: BeforeColon

# Functions
AlwaysBreakAfterReturnType: None

# Control flow
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Empty

# Lambdas
LambdaBodyIndentation: Signature

# Pointers and references
PointerAlignment: Left
DerivePointerAlignment: false

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Line breaks
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakStringLiterals: true

# Splitting
# AllowShortFunctionsOnASingleLine: InlineOnly
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  #BeforeLambdaBody: false

# Includes
SortIncludes: Never

# Access modifiers
AccessModifierOffset: -4

# Empty lines
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1

# Alignment
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments: true

# Bin packing
BinPackArguments: true
BinPackParameters: BinPack

# Comments
ReflowComments: Never
